*{
    border: border-box;
}
    body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.mainpage{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.image{
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(139, 225, 252);
    flex-direction: column; 
}
  .name{
        margin-top: 200px;
        color: rgba(225,225,225, .01);
    background-image: url(profilebg.jpg);
    font-size: 8vw;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 24s ease-in-out infinite;
    height: 50%;
}
.bio{
    width: 50%;
    font-size:20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    img{
        height: 2vw;
        width: 2vw;
        
    }
}
@keyframes animate{
    100%{
        background-position: left top;
    }
    25%{
        background-position: right bottom;
    }
    0%{
        background-position: left bottom;
    }
    25%{
        background-position: left top;
    }
    75%{
        background-position: right top;
    }
}